@import "~antd/dist/antd.css";
.App {
  width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 50vh;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.site-layout-content {
  background: #fff ;
  padding: 24px;
  min-height: 280px;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
